<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/ug_ico.png" type="images/x-icon">
    <title>LaTeXWord</title>
</head>
<body id="body">
    <div class="contenedor">
        <header>
            <div class="logo-tex">
                <img src="/images/logo_ug.jpg" width="250" alt="Univeridad de Guayaquil">
                <h1>LaTeXWord</h1>
            </div>
        </header>
        <main>
            <form action="/login" method="POST" id="formulario" class="formulario">
                <h1>Inicia Sesion</h1>
                <div class="contenedor-input">
                    <div>
                        <input type="text" id="txtuser" maxlength="15" name="username" required></input>
                        <label for="txtuser" class="lbluser">Nombre de usuario</label>
                    </div>
                    <div>
                        <input type="password" id="txtpassword" maxlength="15" name="password" required>
                        <label for="txtpassword" class="lblpassword">Contraseña</label>
                    </div>
                    <p><a href="#">Olvide mi contraseña</a></p>
                </div>
                <div id="msg-alert"><p id="message">Error de credenciales: el usuario no existe.</p></div>
                <button type="submit">INICIAR SESION</button>
                <p class="mensaje-register">No tienes una cuenta aún? <a href="/register">Regístrate aquí</a>.</p>
            </form>
        </main>
    </div>
    <script src="/scripts/login.js"></script>
</body>
</html>